<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Submitted Marks</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    <h1>Submitted Marks</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Student Name</th>
          {% for question in questions %}
          <th>{{ question.question_id }}</th>
          {% endfor %}
          <th>Total Marks</th>
        </tr>
      </thead>
      <tbody>
        {% for student_name, marks in marks_dict.items %}
        <tr>
          <td>{{ student_name }}</td>
          {% for mark in marks.values %}
          <td>{{ mark }}</td>
          {% endfor %}
          <!-- <td>{{ marks.total_marks }}</td>  -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/update-all-marks/" class="btn btn-primary">Update</a>

  </div>
  <!-- Bootstrap JS (Optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
